/* bebas neue font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-font {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-fonts {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}
