/* shared styles */

.display-flex{
    display: flex;
}

.btn-primary{
    background: linear-gradient(to bottom, #ff6a6a, #ff8a65);
    border-radius: 6px;
    border: none;
    padding: 18px 56px ;
    font-weight: 500;
    color: white;
    

}
.section-tittle{
    font-size: 3.1rem;
    font-weight: bold;
    color: #363958;
}
.dark-blue{

    color: #363958;
}
.light-red{
    color: #F46060;
}
.gray{
    color: #3E3E3E;
}

main{
    background-color: #F8F9FC;
}


/* header related styles */

header> nav ,section{

    max-width: 1160px;
    margin: 0 auto;
}

/* navbar related styles */
.navbar{
    justify-items: end;
    margin-top: 37px;
}
.navbar-links{
    gap: 40px;
    
}
.navbar-item{
    list-style: none;
}
.navbar-item-link{
    text-decoration: none;
    font-weight: 500;
    color: #3C3C3C;
}

/* banner related styles */

.banner-tittle-container , .about-tittle-container{

    justify-content: space-between;
    align-items: center;
    gap: 231px;
    margin-bottom: 30px;
}
.banner-tittle{
    font-size: 5rem;
    margin: 0;
}
.banner-tittle-image , .about-tittle-image{
    max-width: 465px;
}
.banner-tittle-image img , 
.about-tittle-image img ,
.project-card-img{
    
    width: 100%;
    height: auto;
}
.banner-decription {
    margin-top: 0px;
    margin-bottom: 36px;
}

.about-tittle-container{
    flex-direction: row-reverse;
}

.circle{
    display: flex;
    justify-self: right;
    width: 110px;
    height: 110px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff6a6a, #ff8a65);
    margin-top: -146px;

}
/* <!-- working project related styles --> */
.working-project{

    padding-top: 124px;
    padding-bottom: 187px;
    text-align: center;
}
.project-card-container {

    justify-content: space-around;
    gap: 30px;
    
}
.project-card{
    height: 374px;
    width: 370px;
    border-radius: 20px;
    padding: 15px 15px;
    background-color: white;
    text-align: left;
    box-shadow: 0 6.5px 20px 0 rgba(0, 0, 0, 0.07);
}
.project-card-tittle{
    font-size: 1.25rem;
    color: #363958;
    margin-bottom: 0;
}
.project-card-description{
    line-height: 28px;
}

/* inquary related styles */
.inquiry{
    max-width: 906px;
    margin: 130px auto;
}
.inquiry-card-container{

    background-image: url('./resorce/shapes/Group_33094_1.png');
    justify-content: space-around;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    gap: 24px;
    
}
.inquiry-tittle{

    font-size: 4rem;
    color: white;
    font-weight:400 ;
}
.inquiry-socail-container{
    text-align: center;
    justify-items: center;
    text-align: center;
}
.socail-tittle{
    color: #696871;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 80px;
}
.socail-email{
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 5px;
}
.socail-link-container{
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 27px;
}

.socail-link-item{
    list-style: none;
    
}

.socail-link img{

    height: 36px;
    width: 100%;

}

/* responsive for small device */

@media screen and (max-width:576px) {

    .navbar{

        justify-items: start;
    }
    .banner-tittle-container , 
    .about-tittle-container ,
    .project-card-container 
    {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    
    .inquiry-card-container{
        margin: 0 auto;
    }
    .inquiry-tittle{
        font-size: 2rem;
    }
    .btn-inquiry{

        padding: 1rem;
    }
    
}